<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth</title>
</head>
<body>
    
<nav>
    <ul>
        <% if (user) { %> 
        <li><a href="/auth/logout">Log Out</a></li>
        <% } else { %>
        <li><a href="/auth/login">Login</a></li>
        <% } %>
        <li><a href="/">Homepage</a></li>
        <li><a href="/profile">Profile</a></li>

    </ul>
</nav>

<header>
    <h1>Welcome to your profile, <%= user.username %></h1>
</header>

<main>
    <img src="<%= user.thumbnail %>" />
    <p>This is your profile thumbnail</p>

    <div>
        <h1>All Users:</h1>
        <!-- Display all users here -->
    </div>





</main>



</body>
</html>