body {
    background-image: url("images/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
  }  

nav {
  text-align: right; 
  padding-right: 1%;
  padding-bottom: 1%;
  width: 100%;
  background-color: #e6d5d5;
  color: #5967b4;
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 14px;
}

.google-btn {
  color:  #a5a9d9;
  font-size: 20px;
  font-family: 'Montserrat-bold', sans-serif;

}

a:link {
  color: #5967b4;
}

/* visited link */
a:visited {
  color: #8e97cc;
}

/* mouse over link */
a:hover {
  color:  #5967b4;
}

/* selected link */
a:active {
  color: #5967b4;
}

  .pg-title {
    background-color: #e6d5d5;
    text-align: center;
    color: #5967b4;
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 14px;
    padding: 5%;
    border-radius: 25px;
    border: 0px solid; 
    width: 220px;
    height: 200px; 
    margin-bottom: 5%;
    padding: 5%;

  }

  .quotes {
    background-color: #e6d5d5;
    color:  #a5a9d9;
    height: 138px;
    width: 138px;
    border-radius: 60%;
    font-size: 14px;
    font-family: 'Montserrat-bold', sans-serif;
  }

  #sub {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #a5a9d9;
  }

  #first{
    margin-top: -10%;
  }

  #rroulette {
    color:  #a5a9d9;
  }
  
   #groupP, #rest-form-heading {
    background-color: #e6d5d5;
    color: #8e97cc;
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 2rem;
    padding: 5%;
    border-radius: 25px;
    border: 0px solid; 
    margin-bottom: 5%;
  }
  
  h2 {
    font-size: 2rem;
    text-align: center;
  
  }
  h3 {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2rem;
    word-spacing: .2rem;  
  }
  
  input {
    display: block;
    margin: 0 auto;
  }
  
  #new-group-form,
  #existing-group-form,
  #all-groups{
    display: none;
    margin-top: 10rem;
    padding: 5rem;
    line-height: 1;
  }
  
  .introduction {
    color: #e0d8cb;
    padding: 5rem;  
  }
  .jumbtron {
    height: 100%;
    top: 100%;
  }
  .jumbotron {
    background-color: rgba(255, 255, 255, 0.0) !important;
  }

  .one {
    margin: 0 !important;
  }
  #intro {
    color: #bb7b43;
    line-height: .5;
    font-size: 3rem;
    text-align: center;
  
  }
  .form-control {
    width: 50%;
  }
  .form-heading {
    background-color: #e6d5d5;
    color: #5967b4; 
    font-family: 'Montserrat-bold', sans-serif;
    border-radius: 60px;
    width: 20%;
    border: 0px solid;
    padding: 24px; 
    text-align: center;
    margin-bottom: 5%;
    font-size: 2rem;
    
  }   
  
  .rest-heading {
      color:  #5967b4;
      font-size: 14px;  
      text-align: center;
  }
  
  #user-list, #new-restaurant{
    background-color: #e6d5d5;
    color: #5967b4; 
    font-family: 'Montserrat-bold', sans-serif;
    border-radius: 60px;
    border: 0px solid;
    padding: 20px; 
    text-align: center;
    margin-bottom: 5%;
    font-size: 2rem;
    }

    #pick-restaurant {
    background-color: #5967b4; 
    color:#e6d5d5; 
    font-family: 'Montserrat-bold', sans-serif;
    border-radius: 60px; 
    border: 0px solid;
    padding: 20px; 
    text-align: center;
    margin-bottom: 5%;
    font-size: 16px; 
    }
  
  .opacity {
    opacity: 10%;
  }
  
  #wrap {
    background-color: #5967b4; 
    color:#e6d5d5; 
    font-family: 'Montserrat-bold', sans-serif;
    border-radius: 60px;
    padding: 20px;
    text-align: center;
    margin-bottom: 5%;
    font-size: 16px;
    opacity: 10%; 
    }
  
     */
    #userNames {
      color: #e0d8cb;
      font-size: 2rem;
 
    }
  
    #groupName {
      color: #e0d8cb;
      font-size: 10rem;
        
    }
  
  #allGroupsHead {
    color: #e0d8cb;
    font-size: 3.5rem;
    line-height: 2rem;
    font-variant: small-caps;
  }

    #submit-new-grp, #find-group
    {
    text-decoration: none;
    outline: none;
    font-size: 1.5rem;
    background-color:#5967b4; 
    color: #e6d5d5;
    font-family: 'Montserrat-bold', sans-serif;
    width: 15%;
    height: 20%;
    border-radius: 60%;
    border: 0px solid;
    padding: 20px; 
    margin: 5%;

  }
  #submit-pick {
    position: relative;
    background-color: #5967b4; 
    color:#e6d5d5; 
    font-family: 'Montserrat-bold', sans-serif;
    border-radius: 60px;
    border: 0px solid;
    padding: 20px; 
    text-align: center;
    margin-bottom: 5%;
    font-size: 16px;
  }
  
  #group-form {
    display: none;
    padding: 20px;
    line-height: 2;
    color: white;
  }
  
  ::placeholder {
    font-style: italic;
    opacity: 0.7;
  }
  
  #make-group-btn {
    margin: -5%;
    background-color: #e6d5d5;
    color: #8e97cc;
    text-decoration: none;
    outline: none;
    font-size: 3rem;
    border-radius: 30px;
    padding: 5%;
  }
  
  #existing-group-btn {
    margin: -5%;
    background-color: #e6d5d5;
    color: #8e97cc;
    text-decoration: none;
    outline: none;
    font-size: 3rem;
    border-radius: 30px;
    padding: 5%;
  }
  
    #allGroupsHead {
      font-size: 20px;
      color:  #8e97cc;
    }

    #allGroups {
      background-color: #e6d5d5;
      color: #5967b4; 
      font-family: 'Montserrat-bold', sans-serif;
      border-radius: 25px;
      border: 0px solid;
      padding: 24px; 
      text-align: center;
      margin-bottom: 5%;
      font-size: 2.5rem;
    }
    
    .allGroupsItemBtn {
      background-color:  #5967b4; 
      color: #e6d5d5; 
      text-decoration: none;
      outline: none;
      font-size: 2.1rem;
      font-variant: small-caps;
      border-radius: 25px;
      margin: 10px;
      height: 40px;
      display: inline-block;
    }
    
    .restaurant-photo {
      height: 200px;
      width: auto;
      border: 1px solid black;
    }
  
  .footer {
    letter-spacing: 0.1em;
    height: 5vh;
    text-align: center;
    font-family: 'Montserrat-bold', sans-serif;
    background-color:  #e6d5d5;
    color: #8e97cc;
  }
  
  .footer p {
    color:  #8e97cc;
    font-size: 12px;
    vertical-align: 0.5;
    line-height: 4vh;
    /* float: left; */
    text-align: center;
  }
  
  .copyright {
    position: absolute;
    right: 20px;
  }
  
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

  #fa-utensils {
    color: #e6d5d5;
    background-color:#5967b4;
    margin-top: -83px;
    font-size: 21px;
    width: 25px;
    border-radius: 60%;
    margin-left: 168px;
    position: absolute;
  }
  
  #logo {
    font-family:'Montserrat-bold', sans-serif;
    font-weight: bold;
    background-color:  #e6d5d5;
    color:#5967b4;
    border-radius: 25px;
    border: 0px solid;
    padding: 20px; 
  }
  
  #wrap {
    min-width: 100px;
    max-width: 600px;
  }

.authWelcome{
  color: #e6d5d5;
  background-color:#5967b4;
  text-align: center;
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 10px;
  width: 150px;
  height: 150px;
  border-radius: 60%;
}
  
  button {
    font-family: 'Montserrat-bold', sans-serif;   

  }

  @media screen and (max-width: 967px) {
    #submit-new-grp {
      width: 20%
    }

    .form-heading {
      width: 30%
    }


  @media screen and (max-width: 766px) {
    #fa-utensils {
      margin-left: 27%;
      margin-top: -70px;
    }

    .form-heading {
      width: 60%
    }


    @media screen and (max-width: 726px) {
      #fa-utensils {
        margin-left: 27%;
        margin-top: -70px;
        
      }
      #submit-new-grp {
        width: 20%
      }

      .form-heading {
        width: 70%
      }


      @media screen and (max-width: 680px) {
        #fa-utensils {
          margin-left: 30%;
          margin-top: -70px;
        }
        #submit-new-grp {
          width: 30%
        }

        .form-heading {
          width: 60%
        }

      

        @media screen and (max-width: 575px) {
          #fa-utensils {
            margin-left: 28%;
            margin-top: -70px;
          }
          #submit-new-grp {
            width: 30%
          }
          .form-heading {
            width: 90%
          }


          @media screen and (max-width: 530px) {
            #fa-utensils {
              margin-left: 20%;
              margin-top: -70px;
            }
            #submit-new-grp {
              width: 50%
            }

            .form-heading {
              width: 100%
            }
          }
        }
      }
    }
  }
}


  
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-9px);
    }
  }