body {
    background-image: url("images/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100%;
    font-family: "Lato", sans-serif;
  }  
   #groupP {
    text-decoration: none;
    font-size: 3rem;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    text-align: center;
  
  }
  h3 {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2rem;
    word-spacing: .2rem;  
  }
  
  input {
    display: block;
    margin: 0 auto;
  }
  
  #new-group-form,
  #existing-group-form,
  #all-groups{
    display: none;
    background-color: rgba(19, 18, 18, 0.537);
    margin-top: 10rem;
    padding: 5rem;
    line-height: 1;
  }
  
  .introduction {
    background-color: rgba(19, 18, 18, 0.537);
    color: #e0d8cb;
    padding: 5rem;  
  }
  .jumbtron {
    height: 100%;
  }
  .one {
    margin: 0 !important;
  }
  #intro {
    color: #bb7b43;
    line-height: .5;
    font-size: 3rem;
    text-align: center;
  
  }
  .form-control {
    width: 50%;
  }
  .form-heading {
    color: #e0d8cb;
    font-size: 2.5rem;
    font-variant: small-caps;
  }   
  
  .rest-heading {
      color: #e0d8cb;
      font-size: 1.8rem;  
      line-height: 1.5rem;
      text-align: left;
  }
  
  #user-list{
      color: #e0d8cb;
      font-size: 3rem;
      line-height: 1rem;
      font-variant: small-caps;
    }
  
    
    #userNames {
      color: #e0d8cb;
      font-size: 2rem;
      line-height: 3rem;
        
    }
  
    #groupName {
      color: #e0d8cb;
      font-size: 10rem;
        
    }
  
  #allGroupsHead {
    color: #e0d8cb;
    font-size: 3.5rem;
    line-height: 2rem;
    font-variant: small-caps;
  }
  
  #rest-form-heading {
      color: #e0d8cb; 
      font-size: 2.5rem;
  }
  
  #submit-new-grp,
  #find-group,
  #submit-pick,
  #pick-restaurant,
  #allGroupsItemBtn {
    color: #bb7b43;
    text-decoration: none;
    outline: none;
    font-size: 2.1rem;
    font-variant: small-caps;
  }
  #submit-pick {
    position: relative;
    margin-right: 50%;
  }
  
  #group-form {
    display: none;
    background-color: rgba(19, 18, 18, 0.537);
    padding: 20px;
    line-height: 2;
    color: white;
  }
  
  ::placeholder {
    font-style: italic;
    opacity: 0.7;
  }
  
  #make-group-btn {
    margin-top: 5rem;
    color: #e0d8cb;
    text-decoration: none;
    outline: none;
    font-size: 3rem;
    font-variant: small-caps;
    /* width: 11vw; */
  }
  
  #existing-group-btn {
    margin-top: 5rem;
    margin-left: 22%;
    position: absolute;
    color: #e0d8cb;
    text-decoration: none;
    outline: none;
    font-size: 3rem;
    font-variant: small-caps;
    /* width: 11vw; */
  }
  
  #all-groups {
      color: white;
    }
    
    #allGroupsHead {
      font-size: 20px;
    }
    
    .allGroupsItemBtn {
      color: #bb7b43;
      text-decoration: none;
      outline: none;
      font-size: 2.1rem;
      font-variant: small-caps;
      margin: 10px;
      height: 40px;
      display: inline-block;
    }
    
    .restaurant-photo {
      height: 200px;
      width: auto;
      border: 1px solid black;
    }
  
  .footer {
    background-color: rgba(19, 18, 18, 0.537);
    letter-spacing: 0.1em;
    height: 4vh;
  }
  
  .footer p {
    color: rgba(255, 255, 255, 0.592);
    font-size: 12px;
    vertical-align: 0.5;
    line-height: 4vh;
    float: left;
  }
  
  .copyright {
    position: absolute;
    right: 20px;
  }
  
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-9px);
    }
  }